/*

black: #262626
red: #FF4C4C

*/

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-top: -4.3vh;
  height: 100%;
}

html,
body,
#root,
.app {
  height: 100%;
}
