.home {
  background-image: url('../../assets/aerial_platform_bw_cropped.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -5vh;
}

.transparent {
  background-color: #FF4C4C;
  /* opacity: .9; */
  color: white;
  text-align: center;
  margin: auto;
  padding: 12vh 0;
  width: 50%;
}

.title-box {
  /* opacity: 1; */
  /* position: relative; */
}

h1 {
  font-size: 100px;
  font-weight: 800;
}

h2 {
  font-size: 42px;
}

h3 {
  background-color: #262626;
  font-size: 30px;
  margin-top: 10vh;
  padding: 1vh;
}
