.contact-header {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6em;
  z-index: 11;
}

.contact-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.contact-unit > h3 {
  color: #FF4C4C;
  margin: 0;
  padding: 0;
  font-size: calc(12px + .9vw);
}

.contact-unit > p {
  color: white;
  font-size: calc(12px + .7vw);
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 6em;
  z-index: 10;
}

.navlink {
  background-color: #262626;
  text-decoration: none;
  color: white;
  margin: 0 1em;
  padding: .5em;
  display: inline-block;
  width: 12em;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border: none;
  font-size: 16px;
  z-index: 10;
}

.navlink:hover {
  background-color: gray;
  cursor: pointer;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
  .navlink {
    display: none;
  }

  .contact-header {
    position: relative;
    padding: 0 1em;
    height: 4em;
  }
}
