.contact-header {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.contact-unit > h3 {
  color: #FF4C4C;
  margin: 0;
}

.contact-unit > p {
  color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.navlink {
  background-color: #262626;
  text-decoration: none;
  color: white;
  margin: 0 1em;
  padding: .5em;
  display: inline-block;
  width: 10%;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.active-navlink {
  background-color: #FF4C4C;
}

.navlink:hover {
  background-color: gray;
}

/* .navlink > button {
  border: none;
  background-color: inherit;
  font-size: 16px;
} */
